*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
}
.content{
    width: 100%;
    height: 100%;
    /* background-color: crimson; */
    display: flex;
    position: relative;
}
 .left{
    width: 50%;
    height: 100%;
}
.left img{
    width: 100%;
    height: 100%;
}
.right{
    width: 50%;
    height: 100%;
}
.right h4{
    margin: 2vw 3vw;
}
.right h1{ 
    width: 28vw;
    height: 10vw;
    font-size: 2.5vw;
    margin: 4vw 6vw;
} 
.right p{
    font-size: 1.5vw;
    width: 24.5vw;;
    margin: 0vw 8vw;
    font-weight: 600;
    line-height: 2vw;

}
.right h3{
    font-size: 1.5vw;
    margin: 4vw 18vw;
}
